<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
<TITLE>DEC FLIP CHIP QUAD/EXT C-F Module</TITLE>
</HEAD>
<BODY LANG="en-US">
<H1>DEC FLIP CHIP QUAD/EXT C-F Module</H1>
<P>KiCAD template for creating quad-height, extended-length DEC FLIP CHIP modules, with connectors labeled C thru F.</P>
<P>NOTE – This version labels the edge connectors C thru F, and is commonly used
for UNIBUS SPC modules.  For a version that labels the connectors A thru D (as used for QBUS modules), see the template
DEC FLIP CHIP QUAD/EXT.</P>
<P>Physical specifications taken from the
<A href="http://www.bitsavers.org/pdf/dec/handbooks/Digital_Logic_Handbook_1975-76.pdf">Digital Logic Handbook, 1975-76</A>, pp 6-10.</P>
</BODY>
</HTML>