<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
<TITLE>DEC FLIP CHIP QUAD/EXT Module</TITLE>
</HEAD>
<BODY LANG="en-US">
<H1>DEC FLIP CHIP QUAD/EXT Module</H1>
<P>KiCAD template for creating quad-height, extended-length DEC FLIP CHIP modules.</P>
<P>NOTE – This version labels the edge connectors A thru D, and is commonly used
in systems with quad-height backplanes, such as QBUS PDP-11s.  For a version that
labels the connectors C thru F (as used for UNIBUS SPC modules), see the template
DEC FLIP CHIP QUAD/EXT C-F.</P>
<P>Physical specifications taken from the
<A href="http://www.bitsavers.org/pdf/dec/handbooks/Digital_Logic_Handbook_1975-76.pdf">Digital Logic Handbook, 1975-76</A>, pp 6-10.
</P>
</BODY>
</HTML>
